h4 {
    color: white;
}

.fondo {
    background-color: navy;
}

.logo {
    margin-left: 10px;
    width: 60%;
}

.lista_generos a {
    text-decoration: none;
    color: white;

}

.lista_generos li {
    list-style: none;
}

.lupa svg {
    height: 80px;
    margin: 20px;
}
